.idea
.pdf

deploy
photowalk_uploads
db-data
docker-compose.yml

# ____________________________________
#/ Ich sehe du möchtest etwas in die   \
#| Backend gitignore packen, hier ist |
#\ leider die falsche Stelle dafür     /
# ------------------------------------
# \
#  \
#     __
#    /  \
#    |  |
#    @  @
#    |  |
#    || |/
#    || ||
#    |\_/|
#    \___/